.bt_enviar {
    background-color: rgb(40, 120, 185);
    border: none;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
    color: white;
    position:relative;
    top: 20px;
    left: 15px;

    transition:.3s;
}
.bt_enviar:hover {
    text-decoration: none;

    background:rgba(243,156,255,.08);

    border-color:#ffffff;

    color:#4781cc;

    box-shadow:
        0 0 12px rgba(93, 195, 255, 0.671),
        0 0 24px rgba(6, 95, 211, 0.25);

    transform:translateY(-2px);
    cursor: pointer;
}

.postagens {
    position:relative;
    top: 20px;
    left: 15px;
}
.campos {
    position:relative;
    top: -35px;
    left: 30px;
}
.campo2 {
    width: 90%;
    height: 110px;
}
